---
import Section from '../Section.astro';
import { Badge } from '@/components/ui/badge';

import { work } from '@cv';
---

<!-- <Badge>Badge</Badge> -->
<Section title="Experiencia laboral 💻">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : 'Actual';
          const years = `${startYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header>
                  <div>
                    <h3>
                      <a href={url} title={`Ver ${name}`} target="_blank">
                        {name}
                      </a>
                    </h3>
                    <h4>{position}</h4>
                  </div>

                  <time>{years}</time>
                </header>
                <footer>
                  <p>{summary}</p>
                </footer>
                <div class="highlights">
                  {highlights?.map((highlight) => (
                    <p class="highlight">
                      <span class="highlight__dot">• </span>
                      {highlight}
                    </p>
                  ))}
                </div>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>

<style>
  .highlights {
    @apply ml-4 mt-2;
  }

  .highlight {
    @apply mt-1 max-w-xl flex;
  }

  .highlight__dot {
    @apply text-gray-500 mr-2 block;
  }

  ul {
    @apply flex flex-col gap-8;
  }

  p {
    font-size: 1rem;
  }

  article h3 {
    @apply font-medium;
  }
  article a:hover {
    @apply underline;
  }
  article h4 {
    @apply font-normal;
  }
  header {
    @apply flex justify-between items-start mb-1;
  }
  time {
    @apply text-[0.85rem] min-w-[102px];
  }
  @media (width <= 700px) {
    time {
      @apply text-right;
    }

    p {
      font-size: 0.8rem;
    }
  }
</style>
