---
import { basics } from '@cv';
import Section from '@/components/Section.astro';
import Mail from '@/icons/Mail.astro';
import Phone from '@/icons/Phone.astro';
import X from '@/icons/X.astro';
import LinkedIn from '@/icons/LinkedIn.astro';
import GitHub from '@/icons/GitHub.astro';
import WorldMap from '@/icons/WorldMap.astro';
import { ModeToggle } from '@/components/ModeToggle';
import { Button } from '@/components/ui/button';

import type { SocialIcon } from '@/types';

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region } = location;

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
};

const linkedInfo = profiles.find(({ network }) => network === 'LinkedIn');
const linkedUrl = linkedInfo?.url;

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(' • ');

const isActive = true;
---

<Section>
  <div class="container">
    <div class="info">
      <div class="top">
        <ModeToggle client:load />
        <a
          class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-background transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 h-10 px-4 py-2 bg-primary text-primary-foreground hover:bg-primary/90"
          href="/CV_Camilo_Saez_Garrido.pdf"
        >
          Descargar CV
        </a>
      </div>
      <h1>{name}</h1>
      <h2>{label}</h2>
      <span>
        <WorldMap />
        {city}, {region}
      </span>
      <footer class="print">
        {printInfo}
      </footer>
      <footer class="no-print icons">
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`Llamar por teléfono a ${name} al número ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Phone />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network];

            return (
              <a
                href={url}
                title={`Visitar el perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
      <section>
        {isActive && <h2>• Estoy en busqueda de empleo •</h2>}
      </section>
    </div>
    <figure>
      <img src={image} alt={name} />
    </figure>
  </div>
</Section>

<style>
  a {
    @apply shadow-[0_1px_1px_0_rgba(_31,38,135,0.1_)] rounded-[10px] border border-solid border-[rgba(_255,255,255,0.18_)];
    -webkit-backdrop-filter: blur(0.1px);
  }

  .top {
    display: flex;
    gap: 1rem;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-weight: 500;
    font-size: 1.1rem;
    text-wrap: balance;
  }

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 128px;
    border-radius: 16px;
  }

  span {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
  }

  section h2 {
    color: rgb(0, 188, 47);
    animation-name: flicker;
    animation-duration: 2.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  footer {
    font-size: 0.65rem;
    display: flex;
    gap: 4px;
    margin-top: 8px;
  }

  footer a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 4px;
    height: 42px;
    width: 42px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  footer a:hover {
    background: #eee;
    border: 1px solid #ddd;
  }

  @media (width <= 700px) {
    .container {
      flex-direction: column-reverse;
    }

    .info {
      justify-content: center;
      align-items: center;
      padding-right: 0;
      text-align: center;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      text-wrap: balance;
    }

    figure {
      margin: 0 auto;
    }
  }
</style>
